.reach-us-main {
  overflow-x: hidden;
  display: none;
  margin-left: 150px;
  padding-top: 7.5rem;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -35px;
  width: 100%;
}
.reach-us-active {
  display: block;
  visibility: visible;
  opacity: 1;
}
.contact-main {
  display: block;
  width: 100%;
  margin: 0 8rem;
}

div.contact-main div.contact-name {
  width: 100%;
  margin: 0 3rem;
}
div.contact-main div.contact-name p {
  font-size: 45px;
  margin: 0;
  color: #ff7b54;
}

div.main-flex {
  width: 100%;
  display: flex;
}
div.main-flex div.left {
  padding: 0.75rem;
  margin: 0 1rem;
  border-radius: 10px;
}
div.main-flex div.left div.left-block h2 {
  font-size: 25px;
  color: #000;
  margin: 0 3rem;
}
div.main-flex div.left div.left-block div.contact-social {
  width: 250px;
  margin: 1rem 2rem;
  padding: 1rem 3rem;
  background: #2d2d2d;
  display: grid;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}
div.main-flex div.left div.left-block div.contact-social i.bx {
  margin: 0.25rem 0;
}

div.main-flex div.left div.left-block div.contact-social button {
  margin: 0.5rem;
  padding: 0.2rem 0.25rem;
  border-radius: 5px;
}
div.main-flex div.left div.left-block div.contact-social button a {
  font-size: 12px;
  color: #000;
}
/*****/

div.right {
  background: none;
  padding: 0.5rem;
  border-radius: 10px;
  align-content: center;
  display: grid;
}
div.main-flex div.right div.right-block h2 {
  font-size: 25px;
  color: #000;
  text-align: center;
  margin: 0 0 2rem 0;
}

div.right div.right-block form div.form-div {
  position: relative;
  margin-bottom: 3rem;
  height: 4rem;
}
form .form-div .form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  border: 2px solid #000;
  background: none;
  color: #000;
  border-radius: 1.5rem;
  padding: 1.5rem;
  z-index: 1;
  outline: none;
  font-weight: bold;
}

/* form .form-div label {
  z-index: 10;
  position: relative;
  top: -12px;
  left: 20px;
  padding: 10px 5px;
  background: rgb(10, 10, 10);
  border-radius: 50%;

  font-size: 13px;
} */
form button.say-hello {
  padding: 0.75rem 1rem;
  border-radius: 12px;
  background: none;
  border: 2px solid #000;
  cursor: pointer;
}
form button.say-hello:hover {
  background: rgb(10, 10, 10);
  color: #fff;
}
form button.inactive {
  background: rgb(10, 10, 10);
  color: #fff;
  padding: auto 1rem;
  border: 2px solid #fff;
  display: none;
}
form button.active {
  display: none;
}

/***FOR LARGE DEVICE ****/
@media screen and (max-width: 972px) {
  .reach-us-main {
    margin: auto;
    padding-top: 28%;
  }
  .contact-main {
    margin: 0;
  }
}
/*** FOR MEDIUM DEVICES ***/
@media screen and (max-width: 768px) {
  .reach-us-main {
    padding-top: 35%;
  }
  div.main-flex {
    display: grid;
  }
  div.main-flex div.left {
    display: grid;
    justify-content: center;
  }

  form .form-div .form-input {
    width: 85%;
  }
  .reach-us-btn {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .reach-us-main {
    padding-top: 45%;
  }
  div.main-flex div.left {
    /* padding: 0.75rem; */
    margin: 0;
  }
  div.main-flex div.left div.left-block div.contact-social {
    width: 150px;
    margin: 0.5rem 1rem;
    padding: 0.5rem 2rem;
  }

  form .form-div {
    width: 100%;
  }
}

/*** FOR SMALL DEVICES ***/
@media screen and (max-width: 350px) {
}
