.trend-main {
  width: 100%;
  position: relative;
  margin: 5rem 0 5rem 3rem;
}
.trend-swiper {
  margin: 3rem 2rem;
}
.trend-main .trend-heading {
  display: flex;
}
.trend-main .trend-heading img {
  width: 40px;
}
.trend-main .swiper {
  width: 90%;
  height: 100%;
}
.trend-main .swiper-slide {
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  padding: 1rem;
  height: 27rem;
  border-radius: 10px;
  border: 2px solid #fff;
  transition: transform(0.3s);
  transition-duration: 0ms;
}
.trend-main .swiper-slide:hover {
  box-shadow: 0px 0px 50px #3c3a3a;
  background: none;
  border: 2px solid #000;
}
.trend-main .swiper-slide:hover .button {
  background: #000;
  color: #fff;
  border: 2px solid #000;
}
.trend-main .swiper-slide:hover .trend-bottom .trend-name {
  text-decoration: underline;
}
.trend-main .swiper-slide:hover .trend-top img {
  width: 135px;
}
.trend-top {
  width: 100%;
  display: flex;
  justify-content: center;
}
.trend-top img {
  width: 120px;
}
.trend-bottom {
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.trend-bottom .trend-name {
  font-size: 20px;
  margin: 0.5rem 0;
}
.trend-bottom .trend-detail {
  font-size: 15px;
  font-weight: 100;
}
.trend-bottom .trend-price {
  display: flex;
  margin: 0.5rem 0;
  height: 30px;
  align-items: center;
}
.trend-rupee {
  font-size: 15px;
  position: relative;
  bottom: 0.1rem;
  font-weight: 600;
}
.trend-bottom .trend-price h2 {
  margin: 0 0.75rem 0 0;
}
.trend-bottom .trend-price h3 {
  color: red;
  text-decoration: line-through;
}
.trend-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.trend-btn button {
  font-size: 20px;
  outline: none;
  border: 2px solid #000;
  background: none;
  color: #000;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
}
/*** RESPONSIVE FOR LAPTOPS ***/

/***FOR LARGE DEVICE ****/
@media screen and (max-width: 972px) {
  .trend-main {
    margin: 2rem 0;
  }
  .trend-main .trend-heading {
    font-size: 15px;
    margin: 2rem 0;
  }
  .trend-main .swiper {
    width: 100%;
    margin: auto;
  }
}
/*** FOR MEDIUM DEVICES ***/
@media screen and (max-width: 768px) {
  .trend-bottom .trend-name {
    font-size: 18px;
  }
  .trend-bottom .trend-detail {
    font-size: 12px;
  }
  .trend-bottom .trend-price h2 {
    font-size: 20px;
  }
  .trend-bottom .trend-price h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
}

/*** FOR SMALL DEVICES ***/
@media screen and (max-width: 350px) {
}
